# === Python cache ===
__pycache__/
*.py[cod]

# === Virtuella miljöer (om du skulle använda) ===
venv/
.venv/

# === PyInstaller-filer ===
build/
dist/
*.spec
*.exe
*.pkg

# === IDE-filer (VS Code, PyCharm etc) ===
.vscode/
.idea/

# === Systemfiler ===
.DS_Store
Thumbs.db
desktop.ini
